[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community Edition
Icon=/home/spring/Documents/programs/idea-IC-173.4301.25-without-jdk/bin/idea.png
#Exec="/home/spring/Documents/programs/idea-IC-173.4301.25-without-jdk/bin/idea.sh"
Exec="/home/spring/Documents/programs/idea-IC-173.4301.25-without-jdk/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
#Terminal=false
StartupWMClass=jetbrains-idea-ce
